@use '../../styles' as *;

#movieSection {
  .movie {
    animation: fadeSlideIn;
    animation-duration: 200ms;
    outline: 1px solid $yellow;
    padding: 1rem;
    position: relative;
    transition: all 200ms ease;
    margin-right: 2rem;

    &-active {
      margin-right: 0rem;
      background: $yellow;
      outline-color: black;
      & * {
        color: black;
        border-color: black;
      }
    }

    p {
      margin-bottom: 1em;

      span {
        @extend .spanText;
        display: block;
      }
    }

    .episode {
      position: absolute;
      right: 1rem;
      top: 0;
      font-weight: bold;
      margin: 0;
      opacity: 0.5;
      transition: font-size 300ms ease;
      pointer-events: none;

      &-lg {
        font-size: 15rem;
      }
      &-sm {
        font-size: 5rem;
      }
    }

    button {
      margin-bottom: 2rem;

      &:nth-child(3) {
        margin-left: -1px;
      }
    }
  }
}
